@import "../../styles/fonts.css";
@import "../../styles/variables.css";

.task-card{
    box-sizing: border-box;
    background: #EBECF0;
    font-size: 18px;
    color: black;
    padding: var(--spacing-unit-6);
    width: 282px;
    border-radius: var(--radius-2);
}

.task-card__title{
    margin-bottom: 15px;
}