:root{
    --radius-1: 5px;
    --radius-2: 10px;
    --spacing-unit-1: 2px;
    --spacing-unit-2: 4px;
    --spacing-unit-3: 6px;
    --spacing-unit-4: 8px;
    --spacing-unit-5: 10px;
    --spacing-unit-6: 12px;
    --spacing-unit-7: 14px;
    --spacing-unit-8: 16px;
    --spacing-unit-9: 18px;
    --spacing-unit-10: 20px;
    --main-color: #0079BF;
    --blue-color: #0067A3;
}