@import "../../styles/variables.css";

.header{
    background: var(--blue-color);
    height: 6vh;
    color: #FFFFFF;
    font-size: 28px;
    line-height: 33px;
    padding: 0 var(--spacing-unit-10);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 425px) {
    .header{
        font-size: 22px;
    }
}

@media all and (max-width: 338px) {
    .header-title{
        display: none;
    }
  }
