@import '../../../../styles/variables.css';

.task{
    padding: var(--spacing-unit-4);
    background: white;
    border-radius: var(--spacing-unit-2);
    margin: 0 0 var(--spacing-unit-8) 0;
    margin-right: var(--spacing-unit-4);
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}