@import "./styles/fonts.css";

body{
  font-family: "Roboto";
  margin: 0;
  background: var(--main-color);
  overflow: hidden;
  height: 100vh;
  min-height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

a:visited{
  color: inherit;
}

@media all and (max-width: 425px) {
  body{
      overflow: scroll;
  }
}